SELECT {% for projection in projections %}
    {{projection}}{% if not loop.last %},{% endif %}{% endfor %}
FROM {{tableReference}}
{% for join in joins %} {{join}} {% endfor %}
{% if whereFilters %}WHERE {% for whereFilter in whereFilters %}
    {% if not loop.first %}AND {% endif %}{{whereFilter}}{% endfor %}{% endif %}
{% if groups %}GROUP BY
    {% for group in groups %}{{group}}{% if not loop.last %}, {% endif %} {% endfor %}
{% endif %}{% if havingFilters %}
    HAVING {% for havingFilter in havingFilters %}
    {% if not loop.first %}AND {% endif %} {{havingFilter}}{% endfor %}{% endif %}
{% if orderBys %}ORDER BY {% for orderBy in orderBys %}
    {{orderBy}}{% if not loop.last %},{% endif %} {% endfor %}{% endif %}