name: Update Latest 

on:
  push:
    branches:
      - master

jobs:
  build:
    environment: deploy
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@master
        - name: Publish to Registry
          uses: elgohr/Publish-Docker-Github-Action@master
          with:
            name: buremba/metriql
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
            tags: "latest"
        - name: Update Demo on Render
          uses: CamiloGarciaLaRotta/watermelon-http-client@v1.5
          with:
            url: "${{ secrets.DEMO_DEPLOY_HOOK_URL }}"
            method: GET
            verbose: true
